<div class="l-page-nav">
  <div class="l-page-nav__body">

<!--
    <div class="wp-widget">
      <div class="wp-widget__header">OTHER BLOG</div>
      <div class="menu-other-blog-container">
        <ul id="menu-other-blog" class="menu">
          <li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a href="http://cyokodog.tumblr.com/">CYOKOLOG | Tumblr</a></li>
          <li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208"><a href="http://d.hatena.ne.jp/cyokodog/">Cyokodog :: Diary | Hatena</a></li>
          <li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209"><a href="http://d.hatena.ne.jp/cyokodog-memo/">Cyokodog :: Memo | Hatena</a></li>
        </ul>
      </div>
    </div>

    <div class="wp-widget">
      <div class="wp-widget__header">Category</div>
      <ul>
      {{#each categoryList}}
        <li><a href="{{this.url}}">{{this.title}}</a></li>
      {{/each}}
      </ul>
    </div>

    <div class="wp-widget">
      <div class="wp-widget__header">Recent Posts</div>
      <ul>
      {{#each articleList.__blog__}}
        <li><a href="{{this.url}}">{{this.title}}</a></li>
      {{/each}}
      </ul>
    </div>
-->
  </div><!-- l-page-nav -->
</div><!-- l-page-nav__body -->
